* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 50px;
    background-color: #f0f0f0; 
}

.addingToDo {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.addingToDo h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.addInput {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitToDo {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.listOfToDoes {
    background-color: white;
    list-style-type: none;
    padding: 0;
}

.listOfToDoes li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
}

.darkMode {
    padding: 20px;
    background-color: #333; 
    color: #fff; 
}

#mode {
    width: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: blue;
    border: none;
    cursor: pointer;
    color: blue;
    padding: 5px;
    border-radius: 3px;
}

.fa-moon {
    font-size: 20px;
    color: #fff;
}
